fastapi
uvicorn
psycopg2-binary 
sqlalchemy 
pydantic 
pydantic[email] 
python-dotenv
sentence_transformers
python-jose[cryptography] 
passlib[bcrypt]
langgraph 
langchain[openai]
langchain-community
openai
simsimd
